
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("quiz-background.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
}

h1, .answer{
  color:white;
  text-align: center;
  
}

.header-container{
  border-bottom: 3px solid rgba(15, 4, 83, 0.336);
  background-color: rgb(58, 39, 167);
  padding:1rem;
  color:white;
}

.question-display{
  border-bottom: 2px solid rgba(129, 77, 99, 0.432);
  text-align: center;
  padding:0.5rem;
  color: white;
  
}

.question-container{
  width:65%;
  margin:30px auto;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: linear-gradient(rgba(231, 116, 193, 0.445), rgb(197, 133, 13));
  box-shadow: rgb(197, 133, 13) 0px 2px 4px 0px, rgb(197, 133, 13) 0px 2px 16px 0px;
}

.options-display{
display: flex;
justify-content: space-around;
align-items: center;
margin-top:50px;
margin-bottom:50px;
}

button{
  border:none;
  padding:1.5rem;
  background-color: rgba(155, 20, 38, 0.644);
  color: rgb(245, 239, 239);
  border-radius: 5px;
  margin:1rem;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;

}

.show-answers{
  
  display:grid;
  justify-content:center;
  align-items: center;
  border-top: 50px;
  
}

.btn-next-container{
  display: flex;
  justify-content: center;
  padding:2rem;

}

.correct{
  background-color: green;
 
}

.incorrect{
  background-color: red;
}

.reset-btn{
  position:absolute;
  top:8.5rem;
  margin-left:40px;
  background-color: rgba(155, 20, 38, 0.692);
}

.reset-btn:hover{
  background-color: rgba(155, 20, 38, 0.486);
}

.simple-footer{
  border-top: 3px solid rgba(15, 4, 83, 0.336);
  background-color: rgb(58, 39, 167);
  padding:3rem ;
}

@media only screen and (max-width: 1400px){

  .reset-btn{
    position:absolute;
    top:8.5rem;
    margin-left:15px;

}




@media only screen and (max-width: 770px){

  .question-display{
    font-size: 17px;
  }

  .options-display{
    display: grid;
    justify-content:space-evenly;
    align-items: center;
    

}


.reset-btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  position: relative;
  top:0px;

}




}


}